# wpDevStack an RL Technologies LLC Project                   
# Copyright 2020-2021 RL Technologies LLC, Pocatello, ID, USA 
# codeteam@wpdevstack.com  /  codeteam@rltechs.com            
#                                                              
# File: .gitignore


# Folders to ignore...
# _Stuff/ - Private notes, ideas, etc.
# pertaining to the project @Erik-Roth @RLTechs
_Stuff/         



# Specific Files to ignore
scripts/..env.swp
