# wpDevStack an RL Technologies LLC Project                   
# Copyright 2020-2021 RL Technologies LLC, Pocatello, ID, USA 
# codeteam@wpdevstack.com  /  codeteam@rltechs.com            
#                                                              
# File: .gitignore



.Stuff/
.Notes/
